@model List<MusicApp.Models.Category>

@{
    ViewBag.Title = "Category";
}

<!-- Gọi breadcrumb cho trang Category -->
@Html.Action("GetBreadcrumb", "Breadcrumb", new { pageTitle = ViewBag.Title })

<section class="categories-area section-padding-10 mt-50>
    <div class="container">

        @foreach (var category in Model)
        {
            <div class="category-section">
                @{
                    var songs = Html.Action("SongsByCategory", "Song", new { categoryId = category.Id });
                }

                @songs
            </div>
        }
    </div>
</section>

