@using System.Collections.Generic  
@model List<test.Models.Menu>
@{
    ViewBag.Title = "FooterMenu";
}



<ul>
    @foreach (var menu in Model)
    {
        if (menu.ParentId == null) // Nếu là menu chính
        {
            <li>
                <a href="@menu.Url">@menu.Name</a>
            </li>
        }
    }
</ul>
