@using System.Collections.Generic  // Add this line to bring in List<>
@model List<test.Models.Menu>

<ul>
    @foreach (var menu in Model)
    {
        if (menu.ParentId == null) // Menu chính
        {
            <li>
                <a href="@menu.Url">@menu.Name</a>
                @* Kiểm tra xem menu có menu con không *@
                @if (Model.Any(m => m.ParentId == menu.Id))
                {
                    <ul class="dropdown">
                        @foreach (var subMenu in Model.Where(m => m.ParentId == menu.Id))
                        {
                            <li><a href="@subMenu.Url">@subMenu.Name</a></li>
                        }
                    </ul>
                }
            </li>
        }
    }
</ul>
