@using System.Collections.Generic
@model List<MusicApp.Models.Menu>

<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                @foreach (var menu in Model)
                                {
                                    if (menu.ParentId == null) // Nếu đây là menu chính
                                    {
                                        <li>
                                            <a href="@menu.Url">@menu.Name</a>
                                            @* Kiểm tra có menu con không *@
                                            @if (Model.Any(m => m.ParentId == menu.Id))
                                            {
                                                <ul class="dropdown">
                                                    @foreach (var subMenu in Model.Where(m => m.ParentId == menu.Id))
                                                    {
                                                        <li><a href="@subMenu.Url">@subMenu.Name</a></li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                }
                                <!-- Các menu tĩnh khác -->
                                <li><a href="event.html">Events</a></li>
                                <li><a href="blog.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50">
                                    <a href="login.html" id="loginBtn">Login / Register</a>
                                </div>

                                <!-- Cart Button -->
                                <div class="cart-btn">
                                    <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="~/Scripts/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/Scripts/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="~/Scripts/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="~/Scripts/js/active.js"></script>
</body>